:root{
    --width:500px;
    --height:500px;
}
html{
    overflow:hidden;
    overscroll-behavior: none;
}
*{
    margin:0;
    font-family: 'Clear Sans', sans-serif;
}
.top{
    display:flex;
    width:var(--width);
    height:fit-content;
    margin:auto;
}
h1{
    font-size:3rem;
    padding:1rem;
    justify-content: left;
    width:fit-content;
}
.banner-text{
    font-size:1.2rem;
    padding:2rem;
    width:fit-content;
}
.big{
    height:var(--height);
    width:var(--width);
    margin:auto;
}
.score-container{
    display:flex;
    flex-direction:row;
    width:calc(var(--width)*1.025)
}
.score{
    display:flex;
    position:relative;
    flex-direction: row;
    background-color: gray;
    color: whitesmoke;
    border-radius:1rem;
    width:calc(var(--width)*1);
    margin:calc(var(--width)*0.02);
    padding:calc(var(--width)*0.03);
}
.score-box, .max-box{
    position:relative;
    margin:auto;
}
.score-content, .max-content, .score b{
    font-size:1.6rem;
}

.score-add{
    position:absolute;
    display:block;
    background-color:transparent;
    transition-duration:1000ms;
}
.score-add p{
    color:whitesmoke;
    font-size:1.4rem;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.338)
}

.menu{
    display:none;
    flex-direction:column;
    position:fixed;
    margin:auto;
    padding:calc(var(--height)*0.05);
    border-radius:calc(var(--height)*0.05);
    width:fit-content;
    height:fit-content;
    background-color:gray;
    opacity:0.9;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.toggle-button{
    padding:10px;
    color:#eee4da;
    background-color: #20b1a0;
    border-radius:5px;
    text-decoration: none;
    user-select: none;
    margin:5px;
    cursor:pointer;
}

.game-message{
    position:absolute;
    display:absolute;
    top:-5px;
    left:-5px;
    height:var(--height);
    width:var(--width);
    border-radius: 0.5rem;
    padding:5px;
    z-index: 1;
    opacity: 0;
    transition-duration: 1000ms;
}
.game-message b, .game-message p{
    font-size: 3rem;
    margin:auto;
    opacity:1;
    z-index:2;
}
.game-message div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.game-won{
    display:absolute;
    background-color: #edc22e;
    box-shadow:0px 0px 0px 0px #ffe386;
    color: rgb(255, 255, 255);
    opacity:0.8;
}
.game-lost{
    display:absolute;
    background-color: rgb(39, 39, 39);
    color:black;
    opacity:0.7;
}
.game-lost div, .game-lost b{
    opacity:1;
    z-index:2;
    color:white;
}
.restart-button, .settings-button{
    display:flex;
    background-color:gray;
    height:fit-content;
    width:fit-content;
    border-radius: 10px;
    margin:auto;
    margin-top:1rem;
    transition-duration:250ms;
    cursor:pointer;
}
.restart-button b, .settings-button i{
    padding:0.8rem;
    color:white;
    font-size: 2rem;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition-duration:500ms;
}
.gap{
    height:calc(var(--height)*100/500);
    width:var(--width);
}
.restart-button:hover, .settings-button:hover{
    background-color: rgb(156, 112, 112);
}
.restart-button:hover b, .settings-button:hover{
    color:rgb(86, 84, 213);
}
.container{
    display:block;
    /*grid-template-columns: repeat(4, minmax(0,1fr));
    grid-template-rows: repeat(4, minmax(0,1fr)); */
    height: var(--height);
    width: var(--width);
    background-color: gray;
    border-radius: 0.5rem;
    padding:5px;
    margin:0;
}
.game-container{
    position:relative;
    height:0px;
    width:0px;
    top:calc(var(--height)*0.01);
    left:calc(var(--width)*0.01);
}
.egg{
    opacity:0;
    height:0;
    width:0;
    transform:translate(calc(var(--width)/10),calc(var(--height)/10));
    transition-duration:150ms;
    transition-timing-function: ease-out;
}
.back, .tile{
    display: grid;
    position: absolute;
    height: calc(var(--height)/5);
    width: calc(var(--width)/5);
    background-color: darkgray;
    border-radius: 0.5rem;
    margin:auto;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
}
.tile{
    font-family: 'Clear Sans', sans-serif;
    text-align: center;
    color:rgb(99, 99, 99);
    font-size: calc(50/500*var(--height));
    font-weight: 90;
    transform:translate(0,0);
    opacity:1;
}
.tile .tile-img{
    object-fit:cover;
    height:inherit;
    width:inherit;
    border-radius:inherit;
}
.tile b{
    margin:auto;
    user-select:none;
}
.tile.title{
    position:relative;
    margin:calc(var(--width)*12.5/500 + 5px);
    text-decoration: none;
}
.title{
    text-decoration:none;
}
.val2{
    background-color: #eee4da;
}
.val4{
    background-color: #eee1c9;
}
.val8{
    color: #f9f6f2;
    background: #f3b27a;
}
.val16{
    color: #f9f6f2;
    background: #f69664;
}
.val32{
    color: #f9f6f2;
    background: #f77c5f;
}
.val64{
    color: #f9f6f2;
    background: #f75f3b;
}
.val128{
    color: #f9f6f2;
    background: #edd073;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2380952381), inset 0 0 0 1px rgba(255, 255, 255, 0.1428571429);
    font-size: calc(45/500*var(--height));
}
.val256{
    color: #f9f6f2;
    background: #edcc62;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175), inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
    font-size: calc(45/500*var(--height));
}
.val512{
    color: #f9f6f2;
    background: #edc950;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3968253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952381);
    font-size: calc(45/500*var(--height));
}
.val1024{
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.4761904762), inset 0 0 0 1px rgba(255, 255, 255, 0.2857142857);
    font-size: calc(35/500*var(--height));
}
.val2048{
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.5555555556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(35/500*var(--height));
}
.val4096{
    color: #f9f6f2;
    background: #2eedba;
    box-shadow: 0 0 30px 15px rgba(116, 243, 230, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(33/500*var(--height));
}
.val8192{
    color: #f9f6f2;
    background: #842eed;
    box-shadow: 0 0 30px 18px rgba(203, 116, 243, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(33/500*var(--height));
}
.val16384{
    color: #f9f6f2;
    background: #2e54ed;
    box-shadow: 0 0 20px 21px rgba(116, 143, 243, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(27.5/500*var(--height));
}
.val32768{
    color: #f9f6f2;
    background: #2eed3b;
    box-shadow: 0 0 28px 25px rgba(116, 243, 133, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(27.5/500*var(--height));
}
.tcol0{
    left:calc(12.5/500*var(--width));
}
.tcol1{
    left:calc(137.5/500*var(--width));
}
.tcol2{
    left:calc(262.5/500*var(--width));
}
.tcol3{
    left:calc(387.5/500*var(--width));
}
.trow0{
    top:calc(12.5/500*var(--height));
}
.trow1{ 
    top:calc(137.5/500*var(--height));
}
.trow2{
    top:calc(262.5/500*var(--height));
}
.trow3{
    top:calc(387.5/500*var(--height));
}
.link{
    text-decoration:none;
    color:slategray;
    transition-duration: 300ms;
}
.link:hover{
    color:#edc22e;
}.footer{
    display:inline-block;
    position:fixed;
    bottom:0%;
    padding:2vh;
    width:100vw;
    background-color:lightgray;
}
@media (max-width: 520px){
    :root{
        --height: 90vw;
        --width: 90vw;
    }
    .top{
        width: 90vw;
    }
    .restart-button b{
        padding:2vw;
    }
    .restart-button, .settings-button{
        margin:auto;
        margin-left: 1vw;
    }
    .top h1{
        font-size: 10vw;
        padding:3vw;
    }
    .banner-text{
        font-size: 4vw;
        padding: 3vw;
    }
    .score-content, .max-content, .score b{
        font-size:1rem;
    }
}
@media (max-height: 800px){
    @media (min-width: 500px){
        :root{
            --height: 70vh;
            --width: 70vh;
        }
        body{
            display:flex;
            flex-direction:column;
        }
        .outer{
            display:flex;
            flex-direction:row;
            height:fit-content;
        }
        .big{
            flex-direction: row;
            margin-top:5vh;
            margin-left:10%;
            margin-right:10%;
        }
        .top{
            flex-direction: column;
            margin-left:5vw;
            margin-right: 5vw;
        }
        .title{
            margin:auto;
        }
        .restart-button b{
            padding:2vw;
        }
        .restart-button, .settings-button{
            margin: auto;
        }
        .settings-button{
            margin-top:3vh;
        }
        .top h1{
            font-size: 10vw;
            padding:3vw;
        }
        .banner-text{
            width:20vh;
            font-size: 5vh;
            padding: 1vh;
            margin:auto;
            margin-bottom:5vh;
        }
        .desc p{
            font-size:1rem;
        }
        .footer{
            display:inline-block;
            position:fixed;
            bottom:0%;
            padding:2vh;
            width:100vw;
            background-color:lightgray;
        }
    }
} 