:root{
    --width:500px;
    --height:500px;
}
html{
    overflow:hidden;
    overscroll-behavior: none;
}
*{
    margin:0;
    font-family: 'Clear Sans', sans-serif;
}
.top{
    display:flex;
    width:var(--width);
    height:fit-content;
    margin:auto;
}
h1{
    font-size:3rem;
    padding:1rem;
    justify-content: left;
    width:fit-content;
}
.banner-text{
    font-size:1.2rem;
    padding:2rem;
    width:fit-content;
}
.big{
    height:var(--height);
    width:var(--width);
    margin:auto;
}
.game-message{
    position:absolute;
    display:absolute;
    top:-5px;
    left:-5px;
    height:var(--height);
    width:var(--width);
    border-radius: 0.5rem;
    padding:5px;
    z-index: 1;
    opacity: 0;
    transition-duration: 1000ms;
}
.game-message b, .game-message p{
    font-size: 3rem;
    margin:auto;
    opacity:1;
    z-index:2;
}
.game-message div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.game-won{
    display:absolute;
    background-color: #edc22e;
    box-shadow:0px 0px 10px 15px #ffe386;
    color: rgb(255, 255, 255);
    opacity:0.8;
}
.game-lost{
    display:absolute;
    background-color: rgb(39, 39, 39);
    color:black;
    opacity:0.7;
}
.game-lost div, .game-lost b{
    opacity:1;
    z-index:2;
    color:white;
}
.restart-button{
    display:flex;
    background-color:gray;
    height:fit-content;
    width:fit-content;
    border-radius: 10px;
    margin:auto;
    margin-top:1rem;
    transition-duration:250ms;
    cursor:pointer;
}
.restart-button b{
    padding:0.8rem;
    color:white;
    font-size: 2rem;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition-duration:500ms;
}
.gap{
    height:calc(var(--height)*100/500);
    width:var(--width);
}
.restart-button:hover{
    background-color: rgb(156, 112, 112);
}
.restart-button:hover b{
    color:rgb(86, 84, 213);
}
.container{
    display:grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    grid-template-rows: repeat(4, minmax(0,1fr));
    height: var(--height);
    width: var(--width);
    background-color: gray;
    border-radius: 0.5rem;
    padding:5px;
    margin:0;
}
.game-container{
    position:relative;
    height:0px;
    width:0px;
    top:5px;
    left:5px;
}
.egg{
    opacity:0;
    height:0;
    width:0;
    transform:translate(calc(var(--width)/10),calc(var(--height)/10));
    transition-duration:transform(50ms);
    transition-timing-function: ease-out;
}
.back, .tile{
    display: grid;
    height: calc(var(--height)/5);
    width: calc(var(--width)/5);
    background-color: darkgray;
    border-radius: 0.5rem;
    margin:auto;
    transition-duration: 150ms;
}
.tile{
    position: absolute;
}
.tile{
    font-family: 'Clear Sans', sans-serif;
    text-align: center;
    color:rgb(99, 99, 99);
    font-size: calc(50/500*var(--height));
    font-weight: 90;
    transform:translate(0,0);
    opacity:1;
}
.tile b{
    margin:auto;
}
.val2{
    background-color: #eee4da;
}
.val4{
    background-color: #eee1c9;
}
.val8{
    color: #f9f6f2;
    background: #f3b27a;
}
.val16{
    color: #f9f6f2;
    background: #f69664;
}
.val32{
    color: #f9f6f2;
    background: #f77c5f;
}
.val64{
    color: #f9f6f2;
    background: #f75f3b;
}
.val128{
    color: #f9f6f2;
    background: #edd073;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2380952381), inset 0 0 0 1px rgba(255, 255, 255, 0.1428571429);
    font-size: calc(45/500*var(--height));
}
.val256{
    color: #f9f6f2;
    background: #edcc62;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175), inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
    font-size: calc(45/500*var(--height));
}
.val512{
    color: #f9f6f2;
    background: #edc950;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3968253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952381);
    font-size: calc(45/500*var(--height));
}
.val1024{
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.4761904762), inset 0 0 0 1px rgba(255, 255, 255, 0.2857142857);
    font-size: calc(35/500*var(--height));
}
.val2048{
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.5555555556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(35/500*var(--height));
}
.val4096{
    color: #f9f6f2;
    background: #2eedba;
    box-shadow: 0 0 30px 15px rgba(116, 243, 230, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(33/500*var(--height));
}
.val8192{
    color: #f9f6f2;
    background: #842eed;
    box-shadow: 0 0 30px 18px rgba(203, 116, 243, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(33/500*var(--height));
}
.val16384{
    color: #f9f6f2;
    background: #2e54ed;
    box-shadow: 0 0 20px 21px rgba(116, 143, 243, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(27.5/500*var(--height));
}
.val32768{
    color: #f9f6f2;
    background: #2eed3b;
    box-shadow: 0 0 28px 25px rgba(116, 243, 133, 0.556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
    font-size: calc(27.5/500*var(--height));
}
.col0{
    grid-column:1;
}
.col1{
    grid-column:2;
}
.col2{
    grid-column:3;
}
.col3{
    grid-column:4;
}
.row0{
    grid-row:1;
}
.row1{
    grid-row:2;
}
.row2{
    grid-row:3;
}
.row3{
    grid-row:4;
}
.tcol0{
    left:calc(12.5/500*var(--width));
}
.tcol1{
    left:calc(137.5/500*var(--width));
}
.tcol2{
    left:calc(262.5/500*var(--width));
}
.tcol3{
    left:calc(387.5/500*var(--width));
}
.trow0{
    top:calc(12.5/500*var(--height));
}
.trow1{ 
    top:calc(137.5/500*var(--height));
}
.trow2{
    top:calc(262.5/500*var(--height));
}
.trow3{
    top:calc(387.5/500*var(--height));
}
@media (max-width: 520px){
    :root{
        --height: 90vw;
        --width: 90vw;
    }
    .top{
        width: 90vw;
    }
    .restart-button b{
        padding:2vw;
    }
    .restart-button{
        margin: auto;
    }
    .top h1{
        font-size: 10vw;
        padding:3vw;
    }
    .banner-text{
        font-size: 4vw;
        padding: 3vw;
    }
}